<h2>  Create a new article</h2>


<% if @article.errors.any? %>

<h2>The following errors prevented the article from getting created</h2>

<ul>

<% @article.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<% end %>

<p>  
<%= form_for @article do|v| %> </br>
<%= v.label :tittle %>
<%= v.text_field :tittle %>
</p>

<p>
<%= v.label :description %>
<%= v.text_area :description %>
</p>

<p>
    
    <%= v.label :reason%>
    <%=v.text_area :reason%>
</p>
<p>
    
<%= v.submit %>
    
</p>
<% end %>



